* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;

  height: 100vh;
}
header {
  background-color: #4466ee;
  height: 110px;
  display: flex;
  align-items: center;
  box-shadow: 8px 0px 30px rgba(0, 0, 0, 0.434);
  position: relative;
  z-index: 10;
}
h1 {
  margin-block: 0;
  width: 80%;
  margin-inline: auto;
  padding-left: 30px;
  color: #f5f5f5;
  text-shadow: 2px 2px 5px #122260d0;
  font-size: 45px;
}
.container {
  padding: 40px 30px 20px;
  background-color: #fff;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.input-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-field input,
.input-field button {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease;
}

.input-field input {
  flex-grow: 1;
  margin-right: 10px;
}

.input-field input::placeholder {
  color: #aaa;
}

.input-field button {
  background-color: #4466ee;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.input-field button:hover {
  background-color: #3355dd;
}

.post {
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 8px #3852b83c;
}
/* #3333332a; */
.post h2 {
  margin: 0;
  color: #4466ee;
  font-weight: 700;
}

.post p {
  margin: 10px 0 0;
  color: #333;
}

.btn {
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #3333333e;
  width: 100px;
}

.delete-btn {
  background-color: #ff4444;
  color: #fff;
}
.delete-btn:hover {
  background-color: #cc0000;
}

.edit-btn {
  background-color: #e5e3e3;
  color: #333;
}
.edit-btn:hover {
  /* background-color: #293d8d; */
  color: #333;
  background-color: #b0b4c5;
}

.button-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 15px;
  flex-basis: 20%;
}
.content-container {
  flex-basis: 80%;
}
